In [103]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import yfinance as yf

In [104]:
url = "https://finance.yahoo.com/markets/stocks/most-active/?start=0&count=100"

# Get the webpage content
headers = {"User-Agent": "Mozilla/5.0"}
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, "html.parser")

table = soup.find("table")

# Extract data into a list
data = []
for row in table.find_all("tr"):
    cols = [col.text.strip() for col in row.find_all("td")]
    if cols:
        data.append(cols)

# Convert to Pandas DataFrame
df = pd.DataFrame(data)

In [105]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NVDA,NVIDIA Corporation,,120.73 -0.68 (-0.56%),-0.68,-0.56%,127.876M,275.7M,2.946T,41.06,31.17%,
1,TSLA,"Tesla, Inc.",,282.83 +4.44 (+1.60%),+4.44,+1.60%,114.19M,91.299M,909.736B,139.33,56.69%,
2,MLGO,MicroAlgo Inc.,,11.63 -2.36 (-16.87%),-2.36,-16.87%,71.6M,21.088M,115.984M,-,-84.56%,
3,PLTR,Palantir Technologies Inc.,,95.85 -0.90 (-0.93%),-0.90,-0.93%,60.772M,97.275M,224.803B,504.47,288.71%,
4,BBD,Banco Bradesco S.A.,,2.3051 +0.0851 (+3.82%),+0.0851,+3.82%,46.279M,45.106M,23.103B,10.02,-22.38%,

In [106]:
df.columns = ["Symbol",
    "Stock Name",
    "Price",
    "Change",
    "Change %",
    "Volume",
    "Avg Vol (3M)",
    "Market Cap",
    "P/E Ratio",
    "52 wk Change %",
    "a","b"
]

In [107]:
df.columns

Index(['Symbol', 'Stock Name', 'Price', 'Change', 'Change %', 'Volume',
       'Avg Vol (3M)', 'Market Cap', 'P/E Ratio', '52 wk Change %', 'a', 'b'],
      dtype='object')

In [108]:
df.head(200)

,Symbol,Stock Name,Price,Change,Change %,Volume,Avg Vol (3M),Market Cap,P/E Ratio,52 wk Change %,a,b
0,NVDA,NVIDIA Corporation,,120.73 -0.68 (-0.56%),-0.68,-0.56%,127.876M,275.7M,2.946T,41.06,31.17%,
1,TSLA,"Tesla, Inc.",,282.83 +4.44 (+1.60%),+4.44,+1.60%,114.19M,91.299M,909.736B,139.33,56.69%,
2,MLGO,MicroAlgo Inc.,,11.63 -2.36 (-16.87%),-2.36,-16.87%,71.6M,21.088M,115.984M,-,-84.56%,
3,PLTR,Palantir Technologies Inc.,,95.85 -0.90 (-0.93%),-0.90,-0.93%,60.772M,97.275M,224.803B,504.47,288.71%,
4,BBD,Banco Bradesco S.A.,,2.3051 +0.0851 (+3.82%),+0.0851,+3.82%,46.279M,45.106M,23.103B,10.02,-22.38%,
...,...,...,...,...,...,...,...,...,...,...,...,...
95,IP,International Paper Company,,56.03 +3.20 (+6.07%),+3.20,+6.07%,7.847M,9.361M,29.481B,35.69,38.30%,
96,PINS,"Pinterest, Inc.",,34.28 +0.24 (+0.69%),+0.24,+0.69%,7.837M,11.948M,23.247B,12.84,-4.14%,
97,XPEV,XPeng Inc.,,20.87 -0.52 (-2.43%),-0.52,-2.43%,7.791M,12.558M,20.575B,-,150.47%,
98,GOOG,Alphabet Inc.,,172.09 +2.16 (+1.27%),+2.16,+1.27%,7.733M,18.994M,2.083T,21.40,12.02%,
99,NOK,Nokia Oyj,,5.32 -0.01 (-0.09%),-0.01,-0.09%,7.548M,20.428M,29.022B,15.66,50.56%,

In [109]:
df.isna().sum()

Symbol            0
Stock Name        0
Price             0
Change            0
Change %          0
Volume            0
Avg Vol (3M)      0
Market Cap        0
P/E Ratio         0
52 wk Change %    0
a                 0
b                 0
dtype: int64

In [110]:
df = df[['Symbol', 'Stock Name', 'Change','Avg Vol (3M)','Market Cap']]

In [111]:
df.rename(columns={
    'Change': 'Price Change'
}, inplace=True)

In [112]:
df

,Symbol,Stock Name,Price Change,Avg Vol (3M),Market Cap
0,NVDA,NVIDIA Corporation,120.73 -0.68 (-0.56%),127.876M,275.7M
1,TSLA,"Tesla, Inc.",282.83 +4.44 (+1.60%),114.19M,91.299M
2,MLGO,MicroAlgo Inc.,11.63 -2.36 (-16.87%),71.6M,21.088M
3,PLTR,Palantir Technologies Inc.,95.85 -0.90 (-0.93%),60.772M,97.275M
4,BBD,Banco Bradesco S.A.,2.3051 +0.0851 (+3.82%),46.279M,45.106M
...,...,...,...,...,...
95,IP,International Paper Company,56.03 +3.20 (+6.07%),7.847M,9.361M
96,PINS,"Pinterest, Inc.",34.28 +0.24 (+0.69%),7.837M,11.948M
97,XPEV,XPeng Inc.,20.87 -0.52 (-2.43%),7.791M,12.558M
98,GOOG,Alphabet Inc.,172.09 +2.16 (+1.27%),7.733M,18.994M
99,NOK,Nokia Oyj,5.32 -0.01 (-0.09%),7.548M,20.428M